.NotePage {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.NotePageHeader {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

h5.NotePageTitle {
  margin-top: 20px;
  margin-right: 50px;
}

.AccordionSummary {
  display: flex;
  align-items: center;
}

p.NoteMain {
  background-color: rgb(239, 239, 239);
  padding: 10px 20px;
  border-radius: 5px;
}

.SortBy {
  display: flex;
  align-items: center;
  margin-top: 20px;

  flex: 1;
  justify-content: flex-end;
}
