div.ChecklistMain {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

@media screen and (max-width: 350px) {
  div.ChecklistMain {
    height: 28vh;
  }
}

@media screen and (max-height: 670px) {
  div.ChecklistMain {
    justify-content: flex-start;
  }
}

.ProgressMessage {
  align-self: center;
  font-weight: bold;

  display: flex;
  align-items: center;
  position: relative;
}

.CheckboxProgressBar {
  border-radius: 10px;
}

.Checklist {
  align-self: flex-start;
}

.NoteTextField:focus {
  flex: 1;
}

.Skills {
  color: #2d799d;
  padding-top: 10px;
}
