div.ChecklistMain {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  margin-bottom: 10px;
}

.ProgressMessage {
  align-self: center;
  font-weight: bold;

  display: flex;
  align-items: center;
  position: relative;
}

.CheckboxProgressBar {
  border-radius: 10px;
}

.Checklist {
  align-self: flex-start;
}

.NotepadMain {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.NoteTextField {
  max-height: 100%;
  height: 80%;
}

.Skills {
  color: #2d799d;
  padding-top: 10px;
}

@media screen and (max-width: 350px) {
  div.ChecklistMain {
    height: 28vh;
  }
}

@media screen and (max-height: 670px) {
  div.ChecklistMain,
  div.NotepadMain {
    justify-content: flex-start;
  }

  div.ChecklistMain,
  div.NotepadMain {
    height: 28vh;
  }
}
