.FilterList {
  height: calc(100vh - 64px - 160px - 64px);
  overflow-y: auto;
}

.FilterTable {
  position: relative;
}

.JobTableHead {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: rgb(246, 246, 246);
}

.TableLabel {
  font-weight: bold;
}

.JobRow:hover {
  cursor: pointer;
}

.JobLogo {
  padding-left: 20px;
}

.JobActiveStyle{
  color: green;
  font-weight: 700;
}

.JobInActiveStyle{
  color: red;
  font-weight: 700;
}