.SearchPageMain {
  max-width: 1500px;
  margin: 0 auto;
}

.SearchPageHeader {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.FilterList {
  overflow-y: auto;
}

@media screen and (max-height: 800px) {
  div.FilterList {
    max-height: 60vh;
  }
}

@media screen and (max-height: 750px) {
  div.FilterList {
    max-height: 53vh;
  }
}

@media screen and (max-height: 670px) {
  div.FilterList {
    max-height: 47vh;
  }
}

@media screen and (max-width: 300px) {
  div.FilterList {
    max-height: 45vh;
  }
}

.FilterTable {
  position: relative;
}

.JobTableHead {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: rgb(246, 246, 246);
}

.TableLabel {
  font-weight: bold;
}

.JobRow:hover {
  cursor: pointer;
}

.JobLogo {
  padding-left: 20px;
}

.JobActiveStyle {
  color: green;
  font-weight: 700;
}

.JobInActiveStyle {
  color: red;
  font-weight: 700;
}

.JobRow {
  outline: 2px;
}
