.SearchPageMain {
  max-width: 1500px;
  margin: 0 auto;
}

.SearchPageHeader {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.FilterList {
  overflow-y: auto;
}

.FilterContainer {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.FilterTable {
  position: relative;
}

.JobTableHead {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: rgb(246, 246, 246);
}

.TableLabel {
  font-weight: bold;
}

.JobRow:hover {
  cursor: pointer;
}
