
.ModalFooter {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.JobUpdatedDate {
  font-size: 1.3rem;
}

.Button {
  color: #000000;
}

.ButtonText {
  padding-right: 5px;
}
