.BookedAppliedContainer {
  border: 1px solid #0000004b;
  border-radius: 10px;
  padding: 20px;
  padding-bottom: 0;

  overflow-y: auto;

  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 350px) {
  .BookedAppliedContainer {
    height: 45vh !important;
  }
}

.JobDescription {
  flex: 1;
}

.ToggleDetailButton {
  width: 100%;
  align-self: center;
  justify-content: center;
}

@media screen and (min-width: 600px) {
  /* .BookedAppliedContainer {
    height: 300px;
  } */

  .ToggleDetailButton {
    max-width: 300px;
  }
}
