.JobPage {
  height: 100%;
  padding: 10px 30px;

  margin: auto;
  overflow-y: hidden;
  margin-top: 64px;
}

@media screen and (max-height: 750px) {
  .JobPage {
    overflow-y: scroll;
  }
}

.JobPageTitle {
  padding: 20px 0;
}
