.LegendContainer {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-top: 20px;
}

.LegendItem {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  margin-left: 10px;
}

.LegendColor {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 5px;
}

.LegendLabel {
  font-size: 14px;
}
