.JobModalContainer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.JobModal {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

@media screen and (max-width: 350px) {
  .JobModal {
    max-height: 95vh;
  }
}

.JobCompany {
  color: #2d799d;
}

.ModalMain {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.ModalHeader {
  display: flex;
  flex-direction: column;

  padding-top: 20px;
}

.ModalFooter {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.Button {
  color: #000000;
}

.ButtonText {
  padding-right: 5px;
}
