.BookedAppliedContainer {
  border: 1px solid #0000004b;
  border-radius: 10px;
  padding: 20px;
  padding-bottom: 0;
  width: 80%;
  margin: 20px 0;
  height: 400px;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
}

.JobDescription {
  flex: 1;
}

.ToggleDetailButton {
  width: 100%;
  align-self: center;
  justify-content: center;
}

.Questions{
  white-space: pre-wrap;
}

@media screen and (min-width: 600px) {
  .BookedAppliedContainer {
    height: 300px;
  }

  .ToggleDetailButton {
    max-width: 300px;
  }
}
