.AcceptedContainer {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media screen and (max-width: 350px) {
  div.AcceptedContainer {
    height: 23vh;
  }
}

div.AcceptedMain {
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-height: 670px) {
  div.AcceptedMain {
    justify-content: flex-start;
  }
}

@media screen and (max-width: 350px) {
  div.AcceptedMain {
    height: 18vh;
  }
}

h5.Congratulation {
  margin-bottom: 20px;
}

p.TopHeader {
  margin-bottom: 20px;
}

div.Suggestions {
  display: flex;
  flex-direction: column;
}

.Link {
  padding-bottom: 10px;
}
